@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Indie+Flower&display=swap');
html, body,input{
    background-color: #21232A;
    color:white;
    font-family: 'Style Script', cursive,'Arial Narrow', Arial, sans-serif;
    font-size: 1.3rem;
    padding: 2px;
}
button{
    font-size: 1.5rem;
    margin-right: 15px;
    padding-left: 5px;
    padding: auto;
}
h2{
    display: inline;
} 
input{
    background-color: rgb(0, 87, 58);
    color:black;
    border:  black;
}
.card-grid{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(2, minmax(200px,1fr));
}
.card{
    align-content: center;
    border: 4px ridge green;
    border-radius: 30px;
    margin-bottom: 5px;
    overflow: hidden;
}
.card img{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border: 2px solid #0733d4;

}
.card hr{
    border-color: blueviolet;

}
.card h4{
    font-family: 'Bebas Neue', cursive;
    font-family: 'Indie Flower', cursive;
    text-align: center;
    margin:10px;
}
.salida{
    animation: flash;
    animation-duration: 3s;
}